<div class="login-container flex flex-col md:flex-row h-full">
  <div class="left-column relative flex flex-col items-center bg-white flex-1 p-10">
    <div class="picture-layer flex justify-center items-center p-4 my-5 w-auto">
      <img src="assets/Images/BSULogo.png" class="picture-item w-1/4 object-cover" />
    </div>
    <div class="bg-white w-full max-w-md h-96 w-80 rounded-3xl border-4 border-[#b31c28] flex flex-col items-center m-4 mx-8">
      <div class="bg-white w-full flex flex-col items-center rounded-3xl">
        <div class="w-full max-w-md flex items-center border-gray-400 border bg-white rounded-lg p-4 text-black w-10/12 mt-10 h-14">
          <label for="sr-code" class="mr-3 text-black font-semibold">SRCODE:</label>
          <input id="sr-code" type="text" required class="w-full h-full bg-transparent outline-none" />
        </div>
        <div class="w-full max-w-md flex items-center border-gray-400 border bg-white rounded-lg p-4 text-black w-10/12 mt-5 h-14">
          <label for="password" class="mr-3 text-black font-semibold">PASSWORD:</label>
          <input id="password" type="password" required class="w-full h-full bg-transparent outline-none" />
        </div>
      </div>
      <div class="login-holder pb-4 text-center p-4 pt-6">
        <button class="login-button bg-[#b31c28] text-white h-14 w-40 rounded-3xl text-lg font-bold">LOGIN</button>
        <p class="text-[#c96f77] font-bold text-base pt-4">REGISTER</p>
        <p class="text-[#c96f77] font-bold text-base pt-4">FORGOT PASSWORD</p>
      </div>
    </div>
    <p class="contact-us absolute bottom-4 left-4 text-[#c96f77] font-bold text-base">[PNG] CONTACT US</p>
  </div>
  <div class="right-column flex justify-center items-center bg-white flex-1">
    <img src="assets/Images/RGO_BG_2.jpg" class="login-image w-full h-full" />
  </div>
</div>
